doctype html
html(lang="es-ES")
    include ../Modules/head.pug
    body
        include ../Modules/nav.pug
        div(class="container")
            div(class="row")
                if(best.length > 0)
                    for val in best
                        div(class="column")
                            div(class="container-image" id="most-like")
                                if(val.imagen.estado == "publico")
                                    img(src=`/public/${val.imagen.nombre}` class="image")
                                if(val.imagen.estado == "protegido")
                                    img(src=`/private/${val.imagen.nombre}` class="image")
                                i(class="fa fa-star" aria-hidden="true")
                                div(class="middle")
                                    div(class="text")
                                            a(href=`/post/show/${val.id}`)
                                                button(type='button') Ver Publicacion
                else
                    div(class="column")
                        div(class="container-image" id="most-like")
                            img(src="/img/image-preview.png" class="image")
                            i(class="fa fa-star" aria-hidden="true")
                            
        hr(class="posts-line")
        div(class="container")
            div(class="row")
                if(posts)
                    for val in posts
                        div(class="column")
                            div(class="container-image")
                                if(val.imagen.estado == "publico")
                                    img(src=`/public/${val.imagen.nombre}` class="image")
                                if(val.imagen.estado == "protegido")
                                    img(src=`/private/${val.imagen.nombre}` class="image")
                                div(class="middle")
                                    div(class="text")
                                            a(href=`/post/show/${val.id}`)
                                                button(type='button') Ver Publicacion
        include ../Modules/footer.pug