doctype html
html(lang="es-ES")
    include ../Modules/head.pug
    body
        include ../Modules/nav.pug
        
        section(class="view-post-container")
            form(action="/like" method="POST" id="formulario")
                input(type="hidden" name="publicacion_id" id="publicacion_id" value=`${post.id}`)
                input(type="hidden" name="estrellas" id="estrellas" value="")
            table
                tr 
                    td(colspan="2")
                        div(class="container-post-user")
                            if(post.usuarios.avatar)
                                img(src=`/avatars/${post.usuarios.avatar}`)
                            else 
                                img(src=`/img/not_img.webp`)
                            span= post.usuarios.nickname ? "Creado Por " + post.usuarios.nickname : "Creado Por" + post.usuarios.nombre + " " + post.usuarios.apellido
                tr 
                    th(colspan="2")
                        h1= post.titulo
                tr 
                    td(rowspan="5")
                        div(class="container-view-image")
                            if(post.imagen.estado=='publico')
                                img(src=`/public/${post.imagen.nombre}`)
                            if(post.imagen.estado=='protegido')
                                img(src=`/private/${post.imagen.nombre}`)
                            
                            div(id="image-container-info")
                                span(class="copyright")= post.imagen.derechos
                                span(class="valoraciones")
                                    if(sum>0 && count>0)
                                        i(class="fa fa-star" aria-hidden="true")= (sum/count).toFixed(1) + "/5 Estrellas"
                                    else 
                                        i(class="fa fa-star" aria-hidden="true") 0/5 Estrellas
                                    
                tr 
                    td 
                        div(class="container-view-info")
                            div(class="descripcion")= post.descripcion 
                tr 
                    td 
                        div(class="container-view-info")
                            h3 Comentarios
                tr
                    td
                        div(class="container-view-info")
                            div(id="scroll-comment") 
                                if(comment)
                                    for val in comentarios
                                        div(class="container-comment-user-info")
                                            div(class="align-comment-info") 
                                                if(val.usuario.avatar)
                                                    img(src=`/avatars/${val.usuario.avatar}`)
                                                else 
                                                    img(src=`/img/not_img.webp`)
                                            div(class="align-comment-info")= val.usuario.nickname ?  val.usuario.nickname : val.usuario.nombre
                                            div(class="align-comment-info")= format(val.fecha) 
                                        div(class="align-comment")= val.descripcion 
                                else 
                                    div(class="align-comment") No hay comentarios...
                tr 
                    td 
                        div(class="container-view-info")
                            div(class="post-contact")
                                a(href="#") 
                                    i(class="fa fa-inbox" aria-hidden="true") Contactame

        include ../Modules/footer.pug